td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  select{
    width: 33%;
    height: 40px;
  }
.uinput{
  width: 33%;
  padding: 50px;
  background-color: aqua;
}
.UInput {
  padding: 60px;
}
.GetPlayer{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.player-container{
  width: 1000px;
  margin: auto;
}
